footer {
  padding: 10px;
  background-color: #343a40;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.linked-in,
.linked:visited,
.linked:active {
  text-decoration: none;
  color: orangered;
}
